body { background-color: lightgray;}
.navbar { float: left; margin-top: 0; }
.card {margin: 0px; width: 500px; height: 365px; float: right;}
.card-card1 { margin: 15px;}
img { margin-top:15px; margin-left: 5px;}

